[pylint]
disable=
    bare-except,
    broad-except,
    consider-using-dict-items,
    consider-using-f-string,
    consider-using-with,
    deprecated-method,
    duplicate-code,
    eval-used,
    global-at-module-level,
    global-statement,
    global-variable-not-assigned,
    import-error,
    invalid-name,
    line-too-long,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    multiple-statements,
    no-else-break,
    no-else-continue,
    no-else-return,
    no-self-use,
    no-value-for-parameter,
    pointless-statement,
    redefined-outer-name,
    too-many-branches,
    too-many-locals,
    too-many-nested-blocks,
    too-many-return-statements,
    too-many-statements,
    trailing-newlines,
    trailing-whitespace,
    undefined-variable,
    unidiomatic-typecheck,
    unspecified-encoding,
    unused-argument,
    unused-import,
    unused-variable,
    used-before-assignment,
    useless-return,
    wrong-import-order,
good-names=
    template-python
ignore=
    __init__.py,
notes=
    FIXME,
